/* ======================= CUSTOM STYLES START ======================= */
:root{
    --clr-1: #fbbe07;
    --clr-2: #2aff04;
    --clr-3: #0091ff;
    --clr-Card-Bg: #1d1a1a;
    --clr-Card-Txt: #f1e1e1;
}

body{
    font-family: sans-serif;
}

/* General Container */

.container__card--001{
    background: radial-gradient(#051e1f, #091813);
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
    overflow: hidden;
}

/* Cards */

.card__card--001{
    display: grid;
    grid-template-columns: 21.5rem; /*Card width*/
    grid-template-rows: 14rem 15.6rem 1.2rem; /*20PX Is the space for the Future Button*/
    grid-template-areas: "image" "text" "button"; /*I have added a "button" in case I want to add it to the CARD in the future.*/

    font-family: 'Roboto', sans-serif;
    border-radius: 1rem;
    background: var(--clr-Card-Bg);
    color: var(--clr-Card-Txt);
    
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9); /*This shadow gives a darker touch to the edge. If you want a brighter border you can remove it.*/

    /* text-align: center; */ /*Another Option*/

    transition: 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    /* perspective: 1000px; */
}


/* Img Card #1 */

.card-image__card--001{
    grid-area: image;

    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-position: center;
    background-size: cover;
}

/* Img Card #2 */
.card-image-2__card--001{
    background: linear-gradient(#fff0 0%, #ffffff00 70%, #1d1d1d 100%), url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-size: cover;
}

/* Img Card #3 */
.card-image-3__card--001{
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    background-position: center;
    background-size: cover;
}

/* Animated Border */

.card-border__card--001::before{
    content: '';
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ffa500 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #00bfff 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #ff00ff 90%,
    #ff0000 100% )
    repeat 0% 0% / 300% 100%;

    position: absolute;
    border-radius: 1rem;
    
    inset: -3px; /*How much does the Border come off the Card*/
    filter: blur(8px);

    transform: translateZ(-1px);
    animation: color-bg-card 6s linear infinite;
}

@keyframes color-bg-card {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Text */

.card-text__card--001{
    grid-area: text;

    margin: 2.2rem;
    transform: translateZ(2rem); /*If you want more 3D in the texts, increase the pixels*/

    overflow: hidden; /*In case the text block contains more text*/
}

.card-text__card--001 .card-date{
    color: var(--clr-1);
    font-size: 0.8rem;
}

.card-text__card--001 .card-date-2 {color: var(--clr-2);}
.card-text__card--001 .card-date-3 {color: var(--clr-3);
}

.card-text__card--001 h2{
    font-size: 1.8rem;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.15);
}

.card-text__card--001 p{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 1rem;
    line-height: 1.6;
}

